body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: black;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #5BBE42;
}

.center {
    text-align: center;
}

h1 {
    color: #5BBE42;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #5BBE42;
}
.imgTopo{
    width:50% ;
}
:root{
    --cor-mesa:rgb(12, 107, 145);
   --face-dado:black;
   --bola:rgb(187, 44, 216);
}
.mesa{
  width:100%;
  height: 200px;
  background-color: var(--cor-mesa);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.face{
    width:120px;
    height: 120px;
    background-color: var(--face-dado);
}
.bolinha{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    margin: 5px;
}
.face-um{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.face_dois{
    height: 50%;
}
.face_dois_um{
    display: flex;
    justify-content: end;
}
.face_dois_dois{
    display: flex;
    align-items: end;
    height: 100%;
}
.face_dois_tres{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 210px;
    
    
}
